html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Apple SD Gothic Neo;
}

* {
  box-sizing: border-box;
}


.mapgl-marker-animation {
  animation: fadein .35s;
  -moz-animation: fadein .35s; /* Firefox */
  -webkit-animation: fadein .35s; /* Safari and Chrome */
  -o-animation: fadein .35s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.mapgl-marker-cluster:hover + .cluster-0 {
  transform : translate(0px, -60px);
}

.mapgl-marker-cluster:hover + .cluster-1 {
  transform : translate(0px, +60px);
}