.mouseOver{
    transform-origin : center bottom 0;
    transform : scale(1.5);
    transition:0.2s ease;

}
.mouseOut{
    transform-origin : center bottom 0;
    transform:scale(1);
    transition:0.2s ease;

}